<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Directory listing for {{directory}}</title>
    <link rel="stylesheet" href="{{{asset_base_url}}}/css/directory.css" type="text/css">
  </head>
  <body>
    <div id="doc" class='tk-lapture'>
      <h1 class="tk-trajan-pro">Directory listing for <span>{{directory}}</span></h1>
      <ul>
        <li><a href="../">&crarr; level up</a></li>
        {{#files}}
        <li>{{{.}}}</li>
        {{/files}}
      </ul>
    </div>
  </body>
</html>