<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/main.css' type='text/css'>
    <script type='text/javascript'>
      !function () {
        window.console = ('console' in window) ? console : {
          log: function () {}
        }
        var one = 'one'
          , two = 'two'
          , three = function (msg) {
            console.log(msg)
          }
        console.log([one, two].join(' '))
        three('hello there sir')
      }()
    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>